header {
  width: 50%;
  position: relative;
  margin: 0 auto;
  p {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    strong {
      display: inline-block;
      float: left;
      font-size: 200% !important;
      padding: 0 1em 0 0;
    }
  }
  img {
    float: left;
    height: 200px;
    margin-right: 2em;
    /* border for a circle: from https://ctrlq.org/code/19282-css-round-images */
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  }
}