---
---
/*$left-column-width:              180px;
$fixed-between-columns-margin:    40px;
$variable-between-columns-margin:   7%;
$right-column-width: (100% - $variable-between-column-margin)/2;
*/

@import "post";
@import "home";
@import "header";
@import "blog-index";
@import "post-vignettes";
@import "journey-planner";
@import "a-ride-on-the-pilgrims-route";
// @import "syntax.css";

@font-face{
  font-family: 'great-vibes';
  src:  url('/fonts/great-vibes.ttf')  format('truetype');
}

@font-face{
  font-family: 'handwriting-draft';
  src:  url('/fonts/handwriting-draft.ttf')  format('truetype');
}

@font-face{
  font-family: 'traveling-typewriter';
  src:  url('/fonts/traveling-typewriter.ttf')  format('truetype');
}

#me {
  max-width: 165px;
  margin: 15px auto;
  img {
    width: 100%;
    /* border for a circle: from https://ctrlq.org/code/19282-css-round-images */
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: transform .5s ease-in-out;
    &:hover{
      -ms-transform: rotate(7deg); /* IE 9 */
      -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
      transform: rotate(7deg);
    }
  }
}

// GENERAL DEFAULTS ----------------------------------------------
h2{
  text-align: center;
  font-family: 'great-vibes', cursive;
}
img{width: 100%;}
p img, h1 img, h2 img{
  height: 1em;
  width: auto;
  border-radius: 3px;
}
main ol, main ul{
  padding: 0 0 0 0;
  li{margin-left: 10%;}
  margin: 1em 0 0 0;
}
// links
a, a:hover, a:focus {text-decoration: none;}
a.discreet{
  color: inherit;
  border-bottom: 0.25em solid;
  transition: border-bottom .3s;
}
a.very-discreet{
  &, &:hover, &:focus{color: inherit;}
}
// relative font size
h2         {font-size: 200%;}
blockquote {font-size: inherit;}
footer     {font-size: 80%;}
// tricks
.breakproof{display: inline-block;}


// DIMENSIONS OF MAIN PARTS OF THE WEBSITE  ---------------------

$header-height:       40px;
$margin-page:         60px;
$margin-btw-cols-fxd: 30px;
$margin-btw-cols-var:  10%;
$column-width-left:  180px;

html {
  height:   100%;     // for being able to use scrolling later
  position: relative; // for positionning main#project
}
header nav{
    margin-left:   2*$margin-page+$column-width-left+40px;
    // 40 px is the padding in a section element
    margin-right:  $margin-page;
}
#left-column{
  z-index:       10;
  position:      fixed;
  top:           $margin-page;
  left:          $margin-page;
  // margin-bottom: @margin-page;
  width:         $column-width-left;
  // height:        100%;
}
#project-container #left-column, #project-container #controls{
  margin:   $margin-page;
}
#project-container footer{
  margin-bottom: $margin-page;
}
body {
  height:          100%;
  padding-top:     1.8*$header-height;
  // probably should take the size of the profile picture instead
  padding-left:    2*$margin-page+$column-width-left;
  padding-right:   $margin-page;
  overflow-x:      hidden;
  //padding-bottom:  $margin-page;
}
main#home{
  height:         100%; // prevent from scrolling
  padding-bottom: $margin-page;
}
main#project-container, main#a-ride-on-the-pilgrims-route{
  position: fixed;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;
}
main#a-ride-on-the-pilgrims-route{
  top:    $header-height;
}

// COLORS ------------------------------------

$header-color-background:     #428bca;
$header-color-text:           #cdddeb;
$header-color-text-highlight: #fff;
$link-color:                  #337ab7;

a.discreet{
  border-color: rgba(60,60,60,0.15);
  &:hover, &:focus{border-color: fade_out($link-color, 0.5);}
}

header{
  background-color: $header-color-background;
  a, span {
    color: $header-color-text;
  }
  a:hover, a:focus, span:hover, span:focus{
    color: $header-color-text-highlight;
  }
  .active {
    & > a{
      color: $header-color-text-highlight;
    }
    &:after {
      color: $header-color-text-highlight;
    }
  }
}
main#blog-index{
  span.tag{background-color: $header-color-background;}
}