---
layout:   page
title:    Arthur Katossky

projects: [{
  name:  Eurovélo 3,
  image: /img/eurovelo-3-track.png,
  related_blogs: [{
    name:       Eurovelo 3 - The making of,
    short_name: The making of,
    link:       eurovelo-3-the-making-of.html
  },{
    name:       Eurovelo 3 - The trip,
    short_name: The Trip,
    link:       eurovelo-3-the-trip.html
  }]
}]

categories: [{
  name: All posts,
  link: all-posts.html
},{
  name: Eurovelo 3 - the making of,
  link: eurovelo-3-the-making-of.html
},{
  name: Eurovelo 3 - the trip,
  link: eurovelo-3-the-trip.html
}]
---

<div id='project-showcase'>
  {% assign project = page.projects[0] %}
  <div class='project'>
    <img src="/img/eurovelo-3-track.png"/>
    <div class='project-title'>{{ project.name }}</div>
    <div class='project-description'>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</div>
    {% assign name       = "Eurovelo 3 - The making of" %}
    {% assign category = site.categories[name] %}
    <div class='project-related-blog'>
      {% for blog in project.related_blogs %}
        <p>Latest posts from <strong>{{ blog.short_name }}</strong></p>
        <ul class='project-related-blog-index'>
          {% for post in site.categories[blog.name] %}
            <li>
              <a href="{{ post.url }}">
                <img src='{{ post.thumbnail }}'/>
                <p>
                  <span class='project-related-blog-date'>{{ post.date | date: "%d %B %Y" }}</span>
                  <span class='project-related-blog-title'>{{ post.title }}</span>
                  {{ post.summary }}
                </p>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>

<div id='blog-showcase'>
  <p>All the blogs:</p>
  <ul class='project-related-blog-index'>
    {% for category in page.categories %}
      <li>
        <a href="/blogs/{{ category.link }}">
          <img src='/img/eurovelo-3-track.png'/>
          <p>
            <span class='project-related-blog-title'>{{ category.name }}</span>
            {{ category.summary }}
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>