#a-ride-on-the-pilgrims-route{

  #blog-pannel{
    position: absolute;
    left:            0;
    top:             0;
    height:       100%;
    width:         50%;
    padding:   40px 5%;
    overflow-y: scroll;
  }
  
  #map-pannel{
    position: absolute;
    right:           0;
    top:             0;
    height:       100%;
    width:         50%;
  }

  h1{
    text-align: center;
  }

  // STYLING OF TITLE
  h1{
    font-size: 250%;
    font-family: handwriting-draft;
  }

  // STYLING OF LIST
  #blog-pannel ul{
    list-style:  none;
    li{
      display:     block;
      max-width:   450px;
      height:      120px;
      margin:     0 auto;
      padding:      10px;
      border-radius: 5px;
      overflow-y: hidden;
      // min-width: 350px;
      // width:     70%;
      // max-width: 500px;
      // margin:    20px 0;
      // overflow:  hidden;
      // position:  relative;
      img{
        width:  100px;
        height: 100px;
        float: left;
        margin-right: 10px;
      }
      div{
        height: 100px;
        overflow: hidden;
      }
    }
  }

  // LIST HOVER EFFECT
  #blog-pannel li:hover{
    background: fade_out(#428bca, 0.8);
  }

  // STYLING OF INDIVIDUAL CARTOUCHE
  #blog-pannel .blog-index-post-title{
    display: block;
  }
  #blog-pannel .blog-index-post-date{
    display: block;
  }

}