main#blog-index{

  section{
    padding: 40px 40px 40px 0px;
    height: 100%;
  }
  
  h1{
    text-transform: uppercase;
    border-bottom: solid 1px;
    min-width: 350px;
    width:      70%;
    // max-width: 500px; // move together in the same place
    margin-left: 40px;
    margin-top: 0px;
    font-style: italic;
  }
  p{
    margin-left: 40px;
    min-width: 350px;
    width:      70%;
  }
  ul{
    height: 100%; // PB here...
    overflow-y: scroll;
    list-style:  none;
    min-width:  350px;
    width:        50%;
    max-width:  500px; // together with this
    padding:      0px;
    margin-left: 40px;
    li{
      display:   block;
      height:    170px;
      // min-width: 350px;
      // width:     70%;
      // max-width: 500px;
      margin:    20px 0;
      overflow:  hidden;
      position:  relative;
      img{
        width:  170px;
        height: 170px;
        float: left;
        margin-right: 10px;
      }
      span.blog-index-post-title{
        // width: 100%-150px;
        // display: inline-block;
        font-weight: 900;
      }
      span.blog-index-post-date{
        display: block;
        &:before{
          content: " ~ "
        }
        &:after{
          content: " ~ "
        }
      }
      p:nth-child(4){ // to be replaced when post.excerpt is replaced by post.summary
        padding-bottom: 20px;
      }
      .tags-container{
        position: absolute;
        // white-space: nowrap;
        height: 19px;
        bottom: 0;
        left: 180px;
        overflow: hidden;
        span.tag{
          display: inline-block;
          padding: .2em .6em .3em;
          font-size: 75%;
          font-weight: bold;
          line-height: 1;
          color: #fff;
          text-align: center;
          white-space: nowrap;
          vertical-align: baseline;
          border-radius: .25em;
          margin-right: 1px;
        }
      }
    }
  }
}