main#home, main#blogs{

  // DIMENSIONS OF MAIN PARTS OF THE PAGE  --------------------------
  // display: flex;
  // justify-content: space-between;
  // https://css-tricks.com/snippets/css/a-guide-to-flexbox/

  section {
    height: 100%;
  }
  #blog-showcase {
    padding: 40px 0 40px 40px;
    max-width:     500px;
  }
  #project-showcase {
    width: 30%;
    margin-top: 40px;
  }

  // STYLING ---------------------------------------------------------
  h1{
    border-bottom: solid 1px;
    margin-top: 0px; // don't ask me why...
    font-style: italic;
  }

  // STYLING OF THE AD-LIKE PROJECT PRESENTATION ---------------------
  #project-showcase{
    a{color: inherit;}
  }

  .project{
    display: none;
    p, div{
      margin: 0px;
      text-align: center;
    }
    &, & #plan-your-journey-icon i{
      transition: color 0.2s;
      // transition: transform .8s;
    }
    &:hover{
      &, & #plan-your-journey-icon i{color: #428bca;}
      // i{transform: rotate(360deg);}
    }
  }
  
  #plan-your-journey-icon{
    height: 150px;
    //text-shadow: 10px 20px 100px #909090;
    i{
      position: relative;
      font-size: 150px;
      color: #444444;
    }
    span{
      position: absolute;
      color: white; // #FFFFFF;
      right: 0;
      left: 0;
      text-align: center;
      // text-shadow: 2px 2px #e9645b;
      text-transform: uppercase;
      font-family: sans-serif;
      font-style: italic;
    }
    .direction-from{
      top: 11%;
      font-size: 12%;
    }
    .direction-to{
      top: 46%;
      font-size: 13%;
    }
  }

  &#home .post-list{
    .post-vignette{width: 100px; margin: 5px;}
    height: 110px;
    width: 100%;
  }
  &#blogs{
    h1{font-size: 25px;}
    .post-list{width: 100%;}
    .post-vignette{width: 75px; margin: 2px;}
  }

  // PAGE CURL EFFECT -------------------------------

  // https://codepen.io/JoostKiens/pen/sIwmb
  #curl-effect{
    position: fixed;
    bottom:   0;
    right:    0;
    width:  100px;
    height: 100px;
    border-radius: 5px 0 0 0;
    background: url("/img/2016-06-15-journey-planner.png") no-repeat;
    background-position: 100% 100%;
    background-size: 400px 400px;
    transition: all .5s ease;
    div{
      border-radius: 5px 0 0 0;
      width: 100%;
      height: 100%;
      box-shadow : -3px -3px 80px 0px rgba(100, 100, 100, .3);
      background : 
        linear-gradient(
          -45deg, 
          rgba(0,0,0,0), 
          rgba(0,0,0,0) 40%, 
          rgba(80,80,80,0.4) 50%, 
          #aaa 50%, 
          #bbb 56%, 
          #ccc 62%, 
          #f3f3f3 80%,
          #fff 100%
        );
    }
    &:hover{
      width:  400px;
      height: 400px;
    }
  }
}