main#home{

  // DIMENSIONS OF MAIN PARTS OF THE PAGE  --------------------------
  display: flex;
  justify-content: space-between;
  // https://css-tricks.com/snippets/css/a-guide-to-flexbox/

  section {
    height: 100%;
  }
  #blog-showcase {
    padding: 40px 40px 40px 40px;
    width: 70%;
    max-width:     500px;
  }
  #project-showcase {
    width: 30%;
    margin-top: 40px;
  }

  // STYLING ---------------------------------------------------------
  h1{
    border-bottom: solid 1px;
    margin-top: 0px; // don't ask me why...
    font-style: italic;
  }
  h2{
    text-align: center;
    font-size: 200%;
    // font-weight: 600;
    // text-decoration: underline;
    font-family: 'across-the-road', cursive;
  }

  // STYLING OF THE AD-LIKE PROJECT PRESENTATION ---------------------
  $beg-color: darken(#ffd65e, 10%);
  $end-color: darken($beg-color, 15%);
  $sha-color: darken($beg-color, 17%);
  .project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin: 0px;
      text-align: center;
    }
    -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;
    padding: 10px 10% 10px 10%;
    // text-decoration:none; display:inline-block;
    // text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    // font-weight:bold;
    color: #FFFFFF;
    box-shadow:         inset 0 0 10px $sha-color;
    background-image: -webkit-gradient(linear, left top, left bottom, from($beg-color), to($end-color));
    background-image: -webkit-linear-gradient(top, $beg-color, $end-color);
    background-image: -moz-linear-gradient(top, $beg-color, $end-color);
    background-image: -ms-linear-gradient(top, $beg-color, $end-color);
    background-image: -o-linear-gradient(top, $beg-color, $end-color);
    background-image: linear-gradient(to bottom, $beg-color, $end-color);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$beg-color, endColorstr=$end-color);
  }

  i{
    position: relative;
    span{
      position: absolute;
      color: $end-color;
      right: 0;
      left: 0;
      text-align: center;
    }
    .direction-from{
      top:5px;
      font-size: 12px;
    }
    .direction-to{
      top:28px;
      font-size: 14px;
    }
  }



  /*.image-container{
    float:right;
    position:relative;
    max-width: 50%;
    max-height: 90%;
    img {
      width: 100%;
      // position: absolute;
      z-index:1;
    }
    .screen{
      //float: right;
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      height: 100%;
      background-color: $beg-color;
      z-index:10;
      opacity:0.5;
    }
  }*/


  // STYLING OF THE INDIVIDUAL POST VIGNETTES ------------------------
  .post-list{
    list-style:  none;
    padding:      0px;
    height: 110px;
    width: 600%;
  }
  .post-vignette{
    a, a:hover {
     color: inherit;
     text-decoration: inherit;
    }
    // z-index: 2; // in case of an absolute-positionned link on top
    display: inline-block;
    width: 100px;
    margin: 5px;
    position: relative;
    // overflow: hidden; // https://css-tricks.com/all-about-floats/
    p{
      margin: 0;
      position: absolute;
      top: 50%;
      left:0;
      padding: 5px;
      text-align: center;
      transform: translate(0, -50%);
      // http://stackoverflow.com/questions/33319100/vertical-align-of-p-text-inside-div#33319329
      width: 100%;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.4s;
      span{
        display: block;
      }
      .title{text-decoration: underline;}
    }
    &{font-size: 80%;}
    img{
      border-radius: 50%;
      opacity: 1;
      transition: opacity 0.5s, border-radius 0.4s;
    }
    &:hover{
      // effect with border-radius funny but maybe not useful
      img{opacity: 0;}
      p  {opacity: 1;}
    }
  }

}