main#home{

  // DIMENSIONS OF MAIN PARTS OF THE PAGE  --------------------------
  display: flex;
  justify-content: space-between;
  // https://css-tricks.com/snippets/css/a-guide-to-flexbox/

  section {
    height: 100%;
  }
  #blog-showcase {
    padding: 40px 40px 40px 40px;
    width: 70%;
    max-width:     500px;
  }
  #project-showcase {
    width: 30%;
    margin-top: 40px;
  }

  // STYLING ---------------------------------------------------------
  h1{
    border-bottom: solid 1px;
    margin-top: 0px; // don't ask me why...
    font-style: italic;
  }
  h2{
    text-align: center;
    font-size: 200%;
    // font-weight: 600;
    // text-decoration: underline;
    font-family: 'across-the-road', cursive;
  }

  // STYLING OF THE AD-LIKE PROJECT PRESENTATION ---------------------
  #project-showcase{
    a{color: inherit;}
  }

  .project{
    p, div{
      margin: 0px;
      text-align: center;
    }
    &, & #plan-your-journey-icon i{
      transition: color 0.2s;
      // transition: transform .8s;
    }
    &:hover{
      &, & #plan-your-journey-icon i{color: #428bca;}
      // i{transform: rotate(360deg);}
    }
  }
  
  #plan-your-journey-icon{
    height: 150px;
    //text-shadow: 10px 20px 100px #909090;
    i{
      position: relative;
      font-size: 150px;
      color: #444444;
    }
    span{
      position: absolute;
      color: white; // #FFFFFF;
      right: 0;
      left: 0;
      text-align: center;
      // text-shadow: 2px 2px #e9645b;
      text-transform: uppercase;
      font-family: sans-serif;
      font-style: italic;
    }
    .direction-from{
      top: 11%;
      font-size: 12%;
    }
    .direction-to{
      top: 46%;
      font-size: 13%;
    }
  }

  // STYLING OF THE INDIVIDUAL POST VIGNETTES ------------------------
  .post-list{
    list-style:  none;
    padding:      0px;
    height: 110px;
    width: 600%;
  }
  .post-vignette{
    a, a:hover {
     color: inherit;
     text-decoration: inherit;
    }
    // z-index: 2; // in case of an absolute-positionned link on top
    display: inline-block;
    width: 100px;
    margin: 5px;
    position: relative;
    // overflow: hidden; // https://css-tricks.com/all-about-floats/
    p{
      margin: 0;
      position: absolute;
      top: 50%;
      left:0;
      padding: 5px;
      text-align: center;
      transform: translate(0, -50%);
      // http://stackoverflow.com/questions/33319100/vertical-align-of-p-text-inside-div#33319329
      width: 100%;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.4s;
      span{
        display: block;
      }
      .title{text-decoration: underline;}
    }
    &{font-size: 80%;}
    img{
      border-radius: 50%;
      opacity: 1;
      transition: opacity 0.5s, border-radius 0.4s;
    }
    &:hover{
      // effect with border-radius funny but maybe not useful
      img{opacity: 0;}
      p  {opacity: 1;}
    }
  }

}