#project-header{
}

#project-container{

  // POSITION OF MAIN ELEMENTS ----------------------------
  
  $querry-pannel-width: 250px;
  $itineary-pannel-width: 0px; // 300px;

  #querry-pannel{
    z-index:                 1001;
    position:               fixed;
    top:                     60px;
    bottom:                   0px;
    left:                    40px;
    width:   $querry-pannel-width;
  }
  #map-pannel{
    position:               fixed;
    top:                     40px;
    bottom:                   0px;
    left:                     0px;
    right: $itineary-pannel-width;
  }
  #itinerary-pannel{
    position:               fixed;
    top:                     40px;
    right:                    0px;
    bottom:                   0px;
    width: $itineary-pannel-width;
  }

  // MOUSE EVENTS -----------------------------
  #querry-pannel{
    pointer-events:          none;
    // http://stackoverflow.com/questions/1009753/pass-mouse-events-through-absolutely-positioned-element
    span, input, select{
      pointer-events: auto;
    }
  }

  // SPACING
  h1{
    margin-bottom: 20px;
  }
  .input-group{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  // ALIGNMENT
  .input-group span:first-child span{
    width:           30px;
    display: inline-block;
    text-align:      left;
  }
  /* webkit solution */
  #days::-webkit-input-placeholder { text-align:right; }
  /* mozilla solution */
  #days:-moz-placeholder { text-align:right; }


  // POSITION OF SECONDARY ELEMENTS
  

  
  // STYLING OF TITLE
  h1{
    font-size: 250%;
    font-family: handwriting-draft;
  }

  // STYLING OF BUTTONS
  // button{
  //   border: none;
  //   display: block;
  //   margin-left: 10%;
  //   margin-right: auto;
  //   margin-bottom: 10px;
  // }
  
  // STYLING OF THE MAP
  .leaflet-control-attribution{display: none;}
  .stage{
    span{
      border-radius: 50%;
      display: block;
      text-align: center;
      vertical-align: middle;
      color: darken(#3388ff,0.1);
      border: 2px solid transparentize(#3388ff, 0.4);
      background-color: white; // transparentize(#3388ff, 0.4);
      width:  21px;
      height: 22px;
    }
  }
}