#project-container{

  #controls{
    position: fixed;
    z-index: 1001;
    @media(max-width: 800px){
      bottom: 0;
      left:0;
    }
    @media(min-width: 800px){
      top:0;
      right:0;
    }
  }

  footer{
    width:    280px;
    position: fixed;
    bottom:   0;
  }

  h1{
    @media(min-width: 800px){height: 120px;}
  }

  // STYLING OF TITLE
  h1{
    @media(max-width: 800px){text-align: center;}
    font-size: 250%;
    font-family: handwriting-draft;
  }

  // STYLING OF BUTTONS
  button{
  // button{
  //   border: none;
  //   display: block;
  //   margin-left: 10%;
  //   margin-right: auto;
  //   margin-bottom: 10px;
  // }
  
  // STYLING OF THE MAP
  .leaflet-control-attribution{display: none;}
}