main#post{
section{

  // GENERAL SIZE OF THINGS ON THE PAGE
  // 2 columns:
  // > one for the main text
  // > one for the comments
  margin-right:           40px;
  padding:  40px 0px 40px 40px;
  $side-column-size:       45%;
  $side-column-size-max: 270px;
  $main-column-size:       50%;

  // OTHER GENERAL SETTINGS
  counter-reset: sidenote-counter;
  
  // SIZING OF MAIN COLUMN

  & > p, & > div:not(.wide):not(.warning), & > ul, & > ol, & > blockquote{
    padding-right: 100%-$main-column-size;
    // for permitting floats to properly float
  }
  & > h1, & > h2, & > div.warning{
    margin-right:  100%-$main-column-size;
    // to prevent overflow of the
    // decorative line under the title
  }

  // SIZING OF SECONDARY COLUMN

  aside, .sidenote,
  .wide .legend:not(.full-width){ // aside, .wide .legend,
    float: right;
    clear: right;
  }
  
  .sidenote{ // aside, .wide .legend,
    // Sidenotes' size is given by reference to the main column;
    // if the main column has size 30% and the side column has size
    // 20% then the sidenote must have size: 100*20/30 %;
    width:            100% * $side-column-size / $main-column-size;
    max-width:                               $side-column-size-max;
    // Same for the right margin: if the main column has size 30%,
    // then the right border should be at -100*(100-30)/30 %
    margin-right: -100%*(100%-$main-column-size)/$main-column-size;
    padding-bottom:                                           10px;
  }

  li .sidenote{
    // A ul element is sized 90% of the main column so , if the main
    // column has size 30% and the side column has size 20%, it means
    // the li element has size 30*0.9 %. Then the side note must have
    // size 100*20/(30*0.9) %.
    // $main-column-size by $main-column-size/0.9

    width:      100% * $side-column-size / ($main-column-size*0.9);
    margin-right: -100%*(10/9)*(100%-$main-column-size)/$main-column-size;
    //margin-right: -100% * (100% - $main-column-size*0.9)/($main-column-size*0.9);
  }

  aside, .wide .legend:not(.full-width){
    width:         $side-column-size;
    max-width: $side-column-size-max;
  }

  .sidenote, aside{
    border-bottom:  1px solid #909090;
    margin-bottom: 10px;
  }

  // SPACING

  & > p, & > div, & > ul, & > ol, & > blockquote{
    margin-bottom: 15px;
  }

  // STYLING OF IMAGES AND MAPS

  #map{
    height: 300px;
    &.high{height: 450px;}
    // margin-bottom: 15px;
  }
  .scroll div{
    max-height:  300px;
    overflow-y: scroll;
  }
  ol > img, ul > img{
    margin-left: 0;
  }

  // STYLING OF TITLES
  h1{border-bottom: solid 1px;}

  // STYLING OF TABLES
  table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    td:not(:first-of-type), th:not(:first-of-type){
      padding-left:  8px;
    }
    td:not(:first-of-type), th:not(:first-of-type){
      padding-right: 8px;
    }
  }

  // STYLING OF SECONDARY TEXT

  div .legend{
    border-bottom:  1px solid #909090;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .legend, .sidenote, .remark, .source{
    color: #808080;
    font-size: 80%;
  }

  .source{
    text-align: right;
  }

  // STYLING OF SIDENOTES
  
  .sidenote-number{
    display: inline;
    counter-increment: sidenote-counter;
    &:after{
      content: counter(sidenote-counter) " ";
      font-size: 1rem;
      position: relative;
      top: -0.5rem;
      left: 0.1rem;
    }
    & + input{display: none;}
  }

  .sidenote:before {
    content:   counter(sidenote-counter) " ";
    position: relative;
    top:       -0.5rem;
    font-size: 1rem;
  }
  
  // STYLING OF IMAGES
  
  & > div > img, & > div > a > img, .scroll > div, aside > img {
    margin-bottom: 10px;
  }

  .map-guide{
    border-radius: 3px;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    transform:rotate(-10deg)
  }

  .screenshot, .map-guide{
    margin-top:    20px;
    margin-bottom: 20px;
    box-shadow:    -5px 5px 40px 0px #909090;
  }

  // STYLING OF LEGEND
  #orange-line, #red-line, #blue-line, #green-line, #purple-line{
    display:       inline-block;
    border-radius: 2px;
    height:        5px;
    width:         20px;
    opacity:       0.5;
  }
  #orange-line{background-color: #FFA500;}
  #red-line{   background-color: #e41a1c;}
  #blue-line{  background-color: #377eb8;}
  #green-line{ background-color: #4daf4a;}
  #purple-line{background-color: #984ea3;}

  // STYLING OF WARNINGS
  .warning{
    overflow: hidden;
    padding: 30px;
    background-color: #b3d9ff;
    border-radius: 10px;
    // // background-image: linear-gradient(to bottom, lighten(#cd9239, 35%) 0%, ligthen(#cd9239, 5%) 100%);
    box-shadow: -1px 2px 10px rgba(0,0,0,0.4);
    padding: 25px 25px 15px 25px;
      color:       #333;
      text-shadow: 0 1px 4px rgba(256,256,256,0.6);
    .title{
      // text-shadow: 0  1px 40px rgba(256,256,256,0.8), 
      //               1px 0 40px rgba(256,256,256,0.8), 
      //              -1px 0 40px rgba(256,256,256,0.8), 
      //              0 -1px 40px rgba(256,256,256,0.8);
      display: block;
      float: left; 
      margin-right: 15px;
      margin-bottom:0;
      font-size: 200%;
      font-weight: 600;
    }
  }

}}