---
layout:      page
title:       A Ride on The Pilgrims' Route
--- 

<section id='blog-pannel'>
  <h1>{{ page.title }}</h1>
  <ul>
  {% for category in site.categories %}
    {% if page.title == category[0] %}
      {% assign post_json = category[1] | map: 'path' | replace: '_posts/', '/data/a-ride-on-the-pilgrims-route/' | replace: '.md', '.geojson' %}
      {% for post in category[1] %}
      {% assign content = post.content | strip_newlines %}
      <li id='{{ post.path | slice: 18, 100 | remove: ".md" }}' {% if content == '' %} class='no_post_yet' {% endif %}>
        {% if content != '' %}<a href="{{ post.url }}"></a>{% endif %}
        {% if post.thumbnail %}<img src='{{ post.thumbnail }}'/>{% endif %}
        <p class='blog-index-post-date {% if post.date_bottom %} date_bottom {% endif %}'>{{ post.date | date: "%Y %b %-d" }}</p>
        <div>
          <p class='blog-index-post-title'>
          {% assign switch = post.url | slice:  9, 4 %}
          {% if switch == 'day-' %}
            {% assign day    = post.url | slice: 13, 3 %}
            Day #{{ day }} | 
          {% elsif switch == 'days' %}
            {% assign days = post.url | slice: 14, 10 | split: '-' %}
            Days #{{ days[0] }} to #{{ days[1] }} | 
          {% endif %}{{ post.title }}
          </p>
          {% if content != '' %}<p>{{ content }}</p>{% endif %}
        </div>
      </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
  </ul>
</section>
<section id='map-pannel'></section>

<script>
    
  // SETTING ---------------------------------------------------------------

  var map = L.map('map-pannel', {
    minZoom: 4,
    // maxZoom: 11,
    center: [55, 5],
    zoom: 4,
    zoomControl: false,
  })

  var the_pilgrims_route, the_pilgrims_route_geojson;
  var files = {{ post_json }};

  L.tileLayer(
    'http://server.arcgisonline.com/'+
    'ArcGIS/rest/services/World_Topo_Map/'+
    'MapServer/tile/{z}/{y}/{x}'
  ).addTo(map);

  var load_day_track = function(file, name){
    $.getJSON(file).done(
      function(data){
        // 1. retreive the itinerary's departure and arrival
        var from = $.grep(data.features, function(f){
          return f.properties.stage === 'departure'
        });
        var to   = $.grep(data.features, function(f){
          return f.properties.stage === 'arrival'
        });
        from = turf.point(from[0].geometry.coordinates);
        to   = turf.point(  to[0].geometry.coordinates);

        // 2. create an approximate track along the whole itinerary
        var track = the_pilgrims_route_geojson;
        track = turf.lineSlice(from, to, track);
        track = new L.geoJson(track, {
          opacity:   1,
          weight:    5,
          color: '#ff6600'
        });
        track = track.getLayers()[0];

        // 3. bind the appearance / disappearance of the track
        //    to the hovering of the corresponding post cartouche

        $('#'+name).hover(
          function(){
            track.addTo(map);
          },
          function(){
            map.removeLayer(track);
          }
        )

        // 4. bind the highlight of the object to the hover of the line

        // 5. bind the zoom event to the click on a list item
          
        $('#'+name).click(function(){
          map.flyToBounds( track.getBounds(), { maxZoom: 10 } );
        })

        // 6. remove the object when the post is closed 

        $(map).on('reset', function(){
          if( map.hasLayer(track) ){ map.removeLayer(track); }
        })

      }
    )
  }

  var load_the_pilgrims_route = function(data){

    the_pilgrims_route = new L.geoJson(data, {
      opacity: 0.6,
      weight:  3.5
    });

    the_pilgrims_route = the_pilgrims_route.getLayers()[0];
    
    the_pilgrims_route.addTo(map);
    the_pilgrims_route_geojson = the_pilgrims_route.toGeoJSON();

    $(map).on('reset', function(){
      map.flyToBounds(the_pilgrims_route);
    })

    // add post tracks to the map

    for(i=0; i<files.length; i++){
      var file = files[i];
      var name = file
        .replace(/\.geojson$/i, '')
        .replace(/^\/data\/a-ride-on-the-pilgrims-route\/.{4}-.{2}-.{2}-/i, '');
      if(/^days?/i.test(name)){
        load_day_track(file, name);
      }
    }

  }

  $.getJSON("/data/2016-05-21-ev3.geojson").done(load_the_pilgrims_route);

  // http://stackoverflow.com/questions/6080050/how-does-jquerys-promise-method-really-work
  // http://stackoverflow.com/questions/30241506/ajax-callbacks-when-getting-multiple-xml-files
  // http://documentup.com/kriskowal/q/

  var blogPannel;

  $("#blog-pannel a").click(function(e){

    // http://stackoverflow.com/questions/4002580/how-to-do-partial-page-update-with-jquery

    // prevent from going to the page and save content
    e.preventDefault();
    blogPannel = $("#blog-pannel").clone(true);

    // get the href
    var href       = $(this).attr("href") + ' #post > section > *';
    $("#blog-pannel").load(href, function(){

      // implement a close button
      $(this).prepend('<div id="close-button">×</div>');
      $('#close-button').click(function(){
        $("#blog-pannel").remove();
        $("#a-ride-on-the-pilgrims-route").prepend(blogPannel);
        $(map).trigger('reset');
      });

    });

  });

</script>