---
layout:      page
title:       A Ride on The Pilgrims' Route
--- 

<div id='blog-pannel'>
  <h1>{{ page.title }}</h1>
  <ul>
  {% for category in site.categories %}
    {% if page.title == category[0] %}
      {% for post in category[1] %}
      <li>
        <a href="{{ post.url }}"></a>
        <img src='{{ post.thumbnail }}'/>
        <p class='blog-index-post-date'>{{ post.date | date: "%Y %b %-d" }}</p>
        <div>
          {% assign day = post.url | slice: 13, 3 %}
          <p class='blog-index-post-title'>{% if day !=  'pil' %} Day #{{ day }} {% endif %}{{ post.title }}</p>
          <p>{{ post.content | replace: '<p>.*</p>', ''}}</p>
        </div>
      </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div id='map-pannel'></div>

<script>
    
  // SETTING ---------------------------------------------------------------

  var map = L.map('map-pannel', {
    minZoom: 4,
    center: [55, 5],
    zoom: 4,
    zoomControl: false,
  })

  L.tileLayer(
    'http://server.arcgisonline.com/'+
    'ArcGIS/rest/services/World_Topo_Map/'+
    'MapServer/tile/{z}/{y}/{x}'
  ).addTo(map);

  $.getJSON("/data/2016-05-21-ev3.geojson", function(data) {

    var the_pilgrims_route = new L.geoJson(data, {
      opacity: 0.6,
      weight:  3.5
    });
    the_pilgrims_route = the_pilgrims_route.getLayers()[0];
    
    var itinerary = jQuery.extend(true, {}, the_pilgrims_route );
    itinerary.addTo(map);
  });

</script>