<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %} {{ page.title }} {% else %} One page on Arthur's site {% endif %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/leaflet.css" type="text/css">
    <script src='/js/leaflet.js'></script>
    <script src='/js/jquery-2.2.3.min.js'></script>
  </head>
  <body>
    <header>
      <nav>
        {{page.category}}
        <a href="/"              {% if page.url == '/' %}              class="active" {% endif %}>Home</a>
        <a href="/blog.html"     {% if page.url == '/blog.html' %}     class="active" {% endif %}>Blog</a>
        <a href="/eurovelo.html" {% if page.url == '/eurovelo.html' %} class="active" {% endif %}>Eurovelo 3</a>
        <a href="#">More about Arthur</a>
      </nav>
    </header>
    <div id='text-content'>
      {{ content }}
    </div>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>